# Step 1. Import the necessary libraries

In [26]:
import pandas as pd
import numpy as np

# Step 2. Import the dataset from this address.

In [27]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [ ]:
df = pd.read_csv(url, sep = '\t')

In [5]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# How many products cost more than $10.00?

In [7]:
df.item_price.dtype

dtype('O')

In [9]:
df.item_price=df.item_price.str.strip("$").astype("float")

In [10]:
df.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [24]:
df.item_name[df.item_price>10].value_counts().count()

31

# What is the price of each item?

In [45]:
df_filtered = df.drop_duplicates(['item_name','quantity'])

In [46]:
df1 = df_filtered[df_filtered.quantity==1][["item_name","item_price"]]

In [48]:
df1.head(20)

                                item_name  item_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
5                            Chicken Bowl       10.98
6                           Side of Chips        1.69
7                           Steak Burrito       11.75
8                        Steak Soft Tacos        9.25
10                    Chips and Guacamole        4.45
11                   Chicken Crispy Tacos        8.75
12                     Chicken Soft Tacos        8.75
16                        Chicken Burrito        8.49
21                       Barbacoa Burrito        8.99
27                       Carnitas Burrito        8.99
28                            Canned Soda        1.09
33                          Carnitas Bowl        8.99
34                          Bottled Water        1.09
38  Chips and Tomatillo Green Chili Salsa        2.95
39                          Barbacoa Bowl       11.75
40                                  Chips        2.15