# How do I use string methods in pandas ?

In [1]:
'hello'.upper()

'HELLO'

In [2]:
import pandas as pd

In [3]:
orders = pd.read_table('http://bit.ly/chiporders')

In [4]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [7]:
orders[orders.item_name.str.contains('Chicken')]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [9]:
orders.choice_description.str.replace('[','').str.replace(']','')

<ipython-input-9-f5708f6cb08c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders.choice_description.str.replace('[','').str.replace(']','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [10]:
orders.choice_description.str.replace('[\[\]]','')

<ipython-input-10-34cbcd74ce54>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  orders.choice_description.str.replace('[\[\]]','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [11]:
from datetime import datetime

In [14]:
current_date = datetime.now()
print(current_date.date())

2021-10-04

In [16]:
from datetime import date
print(date.today())

2021-10-04

In [17]:
print(current_date.day)

4

In [18]:
print(current_date.month)

10

In [19]:
print(current_date.year)

2021

In [21]:
print(current_date.strftime("%d"))

04

In [22]:
print(current_date.strftime("%m"))

10

In [23]:
print(current_date.strftime("%Y"))

2021

In [24]:
print(current_date.strftime("%B"))

October

In [25]:
print(current_date.strftime("%W"))

40

In [27]:
str1 = '2022-12-31'
date1 = datetime.strptime(str1, "%Y-%m-%d")
print(date1)

2022-12-31 00:00:00

In [28]:
print(date1.year)

2022

In [29]:
print(date1.day)

31

In [30]:
print(date1.month)

12

In [32]:
from datetime import timedelta
import datetime

In [34]:
current_date = datetime.datetime.now()
date_after_10_days = current_date +timedelta(days=10)

In [35]:
print("Today date :", current_date)

Today date : 2021-10-04 13:19:36.815757

In [36]:
print("Date_after_10_days : ", date_after_10_days)

Date_after_10_days :  2021-10-14 13:19:36.815757

In [37]:
print("Today date :", current_date.date())

Today date : 2021-10-04

In [38]:
print("Date_after_10_days : ", date_after_10_days.date())

Date_after_10_days :  2021-10-14