In [1]:
import numpy as np

In [2]:
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [4]:
df=sns.load_dataset("mpg")

In [10]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [14]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [15]:
len(df.columns)

9

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [19]:
df.select_dtypes(exclude=["object"])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [20]:
df.nunique(axis=0)

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [28]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [29]:
import numpy as np

In [34]:
np.random.seed(101)
population=np.random.randint(0,100, size=100000)

In [35]:
population

array([95, 11, 81, ..., 72, 75, 64])

In [38]:
np.random.seed(51)
sample=np.random.choice(population,100)

In [39]:
sample

array([89, 69,  3, 24, 28,  1, 63, 44, 41, 23,  1, 53, 21, 23, 51, 90, 26,
       54, 84, 83,  9, 64, 42, 15, 65, 37,  3, 29, 96, 90, 47, 73, 92, 87,
       91, 67, 69, 14, 45, 11, 68, 70, 95, 21, 64, 77, 94, 63, 55, 36, 21,
       46, 77, 82, 27, 89, 16, 97, 70, 85, 71, 50, 32, 99, 16, 34, 62, 87,
       48, 37, 46, 25, 53,  4, 58, 18, 59, 68, 68, 90, 23, 56, 17, 86, 24,
       47, 59,  6, 87, 38,  7, 96, 39, 50, 33, 13, 21,  4, 13, 43])

In [40]:
population.mean()

49.41751

In [41]:
sample.mean()

49.57

In [42]:
sample.std()

28.680744411538555

In [43]:
population.std()

28.861482903688444

In [45]:
np.median(population)

49.0

In [46]:
np.median(sample)

49.0

In [58]:
sample_means=[]
for i in range(100):
    sample=np.random.choice(population,100)
    sample_means.append(sample.mean())
print(sample_means)

[48.92, 55.46, 50.71, 47.02, 46.1, 52.1, 43.32, 45.85, 45.26, 44.74, 47.47, 44.49, 47.66, 48.06, 48.12, 50.01, 48.58, 54.46, 46.29, 50.94, 42.37, 50.84, 53.0, 49.34, 45.05, 50.33, 47.81, 53.86, 50.72, 52.69, 47.95, 44.59, 46.47, 48.24, 44.61, 48.84, 51.62, 48.65, 50.83, 53.65, 51.87, 51.51, 54.12, 46.03, 46.5, 45.74, 51.84, 51.16, 48.54, 51.01, 51.72, 52.79, 55.9, 48.01, 49.31, 50.84, 47.23, 44.74, 46.26, 50.1, 55.3, 46.41, 47.06, 52.29, 48.75, 54.32, 50.44, 46.98, 49.4, 48.29, 44.86, 49.03, 48.29, 47.64, 45.69, 48.41, 48.78, 50.72, 48.28, 53.74, 41.49, 46.39, 51.15, 50.82, 48.76, 47.93, 48.77, 48.4, 53.24, 44.23, 50.65, 48.6, 46.58, 53.27, 49.26, 48.8, 48.38, 52.53, 48.54, 51.63]

In [55]:
sample_medians=[]
for i in range(100):
    sample=np.random.choice(population,100)
    sample_medians.append(np.median(sample))
print(sample_medians)

[46.5, 43.5, 42.0, 44.5, 47.5, 45.5, 51.5, 52.0, 45.0, 48.5, 45.0, 63.5, 51.0, 53.0, 48.5, 53.5, 51.0, 57.0, 48.5, 45.0, 54.5, 52.0, 43.5, 50.5, 57.0, 53.0, 60.0, 57.0, 52.0, 56.0, 58.0, 49.5, 52.0, 42.5, 58.5, 43.5, 45.5, 51.5, 52.0, 47.5, 50.5, 54.0, 52.0, 51.0, 46.0, 47.0, 53.0, 51.0, 46.0, 45.0, 51.0, 50.0, 41.5, 53.0, 38.5, 53.0, 54.0, 43.0, 49.5, 49.5, 38.5, 52.5, 52.5, 43.0, 49.0, 52.0, 40.5, 52.5, 44.5, 53.0, 45.0, 48.0, 52.5, 47.0, 54.5, 52.0, 36.0, 34.0, 46.0, 56.5, 48.0, 44.5, 50.0, 53.0, 56.0, 38.0, 53.5, 45.0, 44.5, 47.0, 51.0, 54.5, 50.5, 50.5, 46.0, 52.0, 46.0, 58.5, 44.0, 54.5]

In [59]:
np.mean(sample_means)

49.0634