In [2]:
# Basic Libraries
import pandas as pd
import numpy as np

# Libraries for visualizaton
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [4]:
df= pd.read_csv('sales_082020.csv')
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [5]:
df1= pd.read_csv('currency_rates_082020_EUR.csv')
df1

    currency       date    rate
0        EUR   8/1/2020  1.0000
1        EUR   8/2/2020  1.0000
2        EUR   8/3/2020  1.0000
3        EUR   8/4/2020  1.0000
4        EUR   8/5/2020  1.0000
..       ...        ...     ...
215      BRL   8/6/2020  6.3324
216      BRL   8/7/2020  6.4111
217      BRL   8/8/2020  6.4111
218      BRL   8/9/2020  6.4111
219      BRL  8/10/2020  6.4351

[220 rows x 3 columns]

1. How many rows in the sales dataset?(Just write numbers) *

In [19]:
df.shape

(237671, 10)

2. How many columns in the sales dataset?(Just write numbers) *

In [20]:
df.shape

(237671, 10)

3. What is the total number of sellers?(Just write numbers) *

In [6]:
df.seller_id.nunique()

114227

In [7]:
df.currency.unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

4. What is the total value of sales in EUR?(Just write numbers) *

In [16]:
df.price[df.currency=='EUR'].sum()

275837.69

In [15]:
df.price[df.currency=='EUR']

546        21.25
948        55.26
949        26.92
950        62.28
951        29.68
           ...
237579     21.40
237596      6.68
237598     26.12
237634    204.80
237642     13.75
Name: price, Length: 5934, dtype: float64

5. Which brand has the highest number of purchases during the period?(Write down brand as in dataset, answer is case sensitive) *

In [23]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Tibi                     1
L*Space                  1
Paco                     1
SKAGEN                   1
Ruby Rox                 1
Name: brand, Length: 1134, dtype: int64

6. How many items in the “Jewelry” category have no brand associated with them?(Just write numbers) *

In [36]:
df.brand[df.category=='Jewellery'].isnull().sum()

13525

In [44]:
df.brand[df.category=='Jewellery'] .isna().sum()

13525