In [1]:
import numpy as np

In [2]:
dizi = np.array([0, 1, 2, 3])
dizi

array([0, 1, 2, 3])

In [3]:
yas_dizi = np.array([18, 25, 22, 34, 26, 27, 19, 28, 30, 24])
boy_dizi = np.array([1.81, 1.67, 1.71, 1.89, 1.79, 1.75, 1.80, 1.78, 1.89, 1.82])
agirlik_dizi = np.array([81, 72, 74, 88, 82, 77, 78, 70, 90, 85])

In [4]:
print(yas_dizi.shape)
print(boy_dizi.shape)
print(agirlik_dizi.shape)

(10,)
(10,)
(10,)

In [5]:
Listem = ['Ali', 13, True]
Dizi = np.array(Listem)

print(Dizi)

['Ali' '13' 'True']

In [6]:
Listem = [13, True]
Dizi = np.array(Listem)

print(Dizi)

[13  1]

In [7]:
dizi = np.array([0, 1, 2, 3])
dizi[2:] = [5,4]
print(dizi)

[0 1 5 4]

In [8]:
dizi = np.array([0, 1, 2, 3])
dizi[2:] = [8]
print(dizi)

[0 1 8 8]

In [9]:
dizi = np.array([0, 1, 2, 3])
np.append(dizi, (7,8,9))

array([0, 1, 2, 3, 7, 8, 9])

In [10]:
w = np.array([[0, 1, 2, 3],[4, 5, 6, 7]])
w

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [11]:
basketbol_takimi = np.array([[18, 25, 22, 34, 26, 27, 19, 28, 30, 24],
                        [1.81, 1.67, 1.71, 1.89, 1.79, 1.75, 1.80, 1.78, 1.89, 1.82],
                        [81, 72, 74, 88, 82, 77, 78, 70, 90, 85]])
print(basketbol_takimi)

print(basketbol_takimi.shape)

[[18.   25.   22.   34.   26.   27.   19.   28.   30.   24.  ]
 [ 1.81  1.67  1.71  1.89  1.79  1.75  1.8   1.78  1.89  1.82]
 [81.   72.   74.   88.   82.   77.   78.   70.   90.   85.  ]]
(3, 10)

In [12]:
np.linspace(0,20,9)

array([ 0. ,  2.5,  5. ,  7.5, 10. , 12.5, 15. , 17.5, 20. ])

In [13]:
y = np.arange(0,200,2)
y

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102,
       104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128,
       130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154,
       156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180,
       182, 184, 186, 188, 190, 192, 194, 196, 198])

In [14]:
arr_1 = np.array([4,9,16,25,36])
arr_2 = np.array([2,3,4,5,6])
np.sqrt(arr_1)-np.max(arr_2)

array([-4., -3., -2., -1.,  0.])

In [15]:
np.sqrt(arr_1)

array([2., 3., 4., 5., 6.])

In [16]:
np.max(arr_2)

6

In [17]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,50]))
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 50]])

In [18]:
arr_2d[:1,1:]

array([[10, 15]])

In [19]:
arr=np.arange(0,37)
arr.shape

(37,)

In [20]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36])

In [21]:
py_list=[1,2,3,4,5,6,7,8,9]

In [22]:
arr=np.array([1,2,3,4,])

In [23]:
type(arr)

numpy.ndarray

1.(10,15,30,45,60) değerlerine sahip numpy dizisi oluşturunuz

In [24]:
result=np.array([10,15,30,45,60])
result

array([10, 15, 30, 45, 60])

2. (5-15) arasındaki sayılarla numpğy dizisi oluşturunuz

In [25]:
result=np.arange(5,15)
result

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

3.(50-100) arasında 5'er 5'er artarak mumpy dizisi oluşturun

In [26]:
result=np.arange(50,100,5)
result

array([50, 55, 60, 65, 70, 75, 80, 85, 90, 95])

In [27]:
4. 10 elemanlı sıfırlardan oluşan bir dizi oluşturunuz

SyntaxError: invalid syntax (<ipython-input-27-6d0f0586a779>, line 1)